# Environment variables
.env

# Google credentials
google_client_secret.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Django
db.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db