{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>My Calendar</title>

    <link
        rel="stylesheet"
        href="{% static 'mycalendar/calendar.css' %}"
    >

</head>

<body>

<div class="calendar-page">

    <div class="calendar-header">

        <h1>
            My Calendar
        </h1>

        <p>
            تقویم شمسی
        </p>

    </div>


    <div class="calendar">

        <div class="calendar-topbar">

            <button
                id="previous-month"
                class="month-button"
            >
                ‹
            </button>

            <div
                id="month-title"
                class="month-title"
            ></div>

            <button
                id="next-month"
                class="month-button"
            >
                ›
            </button>

        </div>


        <div
            id="weekdays"
            class="weekdays"
        ></div>


        <div
            id="calendar-grid"
            class="calendar-grid"
        ></div>

    </div>


    <div
        id="selected-date"
        class="selected-date"
    >
        تاریخی انتخاب نشده است
    </div>

</div>


<script src="{% static 'mycalendar/calendar.js' %}"></script>

</body>
</html>